.about_wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-content: start;
  flex-wrap: wrap;
  padding: 10px;
}
.intro_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: var(--black);
  margin-bottom: 30px;
  text-align: center;
}
.intro_text {
  font-family: var(--font);
  font-size: 2.7rem;
  text-transform: uppercase;
  word-break: break-word;
  letter-spacing: 0.2rem;
  line-height: 4rem;
  margin: 30px 0 30px 0;
}
.intro_text__about {
  opacity: 0.8;
  text-transform: none;
  font-style: italic;
}
.intro_heading {
  font-size: 5rem;
  font-family: var(--font);
}
.image_container {
  padding: 20px;
  width: 400px;
  height: auto;
}
.profile_image {
  width: 100%;
  object-fit: contain;
}
