.about_wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
}
.intro_container {
    padding: 10px;
    width: fit-content;
    display: flex;
    align-self: start;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;

}
.intro_text {
    font-family: var(--secondfont);
    font-size: 1.2rem;
    text-align: left;
    word-break: break-word;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.image_container {
    width: 350px;
    padding: 10px;
}
.profile_image {
    height: auto;
    width: 100%;
}