.about_wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-content: start;
    flex-wrap: wrap;
}
.intro_container {
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    color: var(--black);
    margin-bottom: 30px;
}
.intro_text {
    font-family: var(--font);
    font-size: 1.15rem;
    text-align: left;
    word-break: break-word;
    font-style: italic;
    letter-spacing: .1rem;
}
.intro_heading {
    font-size: 5rem;
    font-family: var(--font);
}

.image_container {
    width: 350px;
    padding: 10px; 
}
.profile_image {
    height: auto;
    width: 100%;
}