.contact_section {
    margin-top: 80px;
    padding: 10px;
    background-color: var(--black);
    color: var(--beige);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_header {
    font-size: 3.2rem;
    text-transform: uppercase;
    font-family: var(--font);
    text-align: center;
    letter-spacing: 5px;
    margin: auto;
    margin-top: 80px;
}
.contact_text {
    margin-top: 30px;
    font-size: 1.3rem;
}
.social_icons {
    margin-top: 30px;
}
.icon_link {
    text-decoration: none;
    color: inherit;
    padding: 3px;
    margin: 0 13px 0 13px;
}
.icon_link:hover {
    color: var(--white);
}
.contact_logo {
    margin-top: 30px;
    width: 50%;
}

@media (min-width:900px) {
    .contact_section {
        flex-direction: row;
    }
    .wrapper {
        order: 1;
    }
    .contact_header {
        margin-top: 20px;
    }
    .contact_logo {
        
        max-width: 300px;
    } 
}