.wrapper {
  margin-top: 100px;
  color: var(--black);
  padding: 10px;
}
.boxes_header {
  word-break: break-word;
  font-size: 2.8rem;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 15px;
  font-family: var(--font);
}
.header_underline {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 1px;
  background-color: var(--black);
}
.boxes_container {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--white);
}
.box_one,
.box_two,
.box_three {
  position: relative;
  background-color: var(--beige);
  border: 1px solid var(--white);
  width: 350px;
  height: 300px;
  display: flex;
  font-family: var(-secondfont);
  justify-content: center;
  align-items: flex-end;
  margin: 15px;
}
.box_one {
}
.box_two {
}
.box_three {
  overflow: hidden;
  background-color: transparent;
  transform: scale(1);
}
.box_three:hover .coop {
  opacity: 1;
  transform: scale(1.1);
}

.woman_image {
  width: 40%;
  top: 20%;
  position: absolute;
}
.coop {
  position: absolute;
  width: 100%;
  top: 0;
  object-fit: contain;
  opacity: .7;
  z-index: -1;
  transition: 1s all linear;
}

.box_border {
  position: absolute;
  border: 2px solid var(--white);
  width: 300px;
  align-self: center;
  /* top: 5%;
  bottom: 5%; */
  height: 250px;
  
}
.box_one__link,
.box_two__link,
.box_three__link {
  font-size: 1.5rem;
  margin-bottom: 47px;
  /* padding: 100px;
  border: 1px solid white; */
  text-decoration: none;
  color: var(--black);
  isolation: isolate;
  padding: 10px 25px;
  background-color: var(--white);
}
@media (max-width: 500px) {
  .box_one,
  .box_two,
  .box_three {
    width: 300px;
    height: 230px;
  }
  .box_one__link,
  .box_two__link,
  .box_three__link {
    margin-bottom: 25px;
    font-size: 1.2rem;
    padding: 5px 20px;
  }
  .box_border {
    width: 270px;
    height: 200px;
  }
}
