html {
  font-size: 13px;
  scroll-behavior: smooth;
  font-family: var(--secondfont);
  min-height: 200%;
  
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: #443c3c;
  --bg-rose: hsl(274, 47%, 97%);
  --beige: hsl(28, 29%, 75%);
  --font: 'Old Standard TT', serif;
  --secondfont: 'Montserrat', sans-serif;
  /* // font-family: 'Dancing Script', cursive;
  // font-family: 'Elsie', cursive;
  font-family: 'Old Standard TT', serif;
  // font-family: 'Montserrat', sans-serif;
font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Chamberi Display'; */
}
